<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
	<form method="post">
		{{error}}
		{% csrf_token %}
		<div class="input-container">
			<div> {{error_name}} </div>
          <input id="name" name="name" type="text" value="{{name}}" >
          <label for="name"> Name</label>
          <div class="bar"></div>
        </div>
        <div class="input-container">
          <div> {{error_email}} </div>
          <input id="email" name="email" type="email" value="{{email}}">
          <label for="email">Email</label>
          <div class="bar"></div>
        </div>
        <div class="input-container">
        	<div> {{error_course}} </div>
          <input id="course" name="course" type="text" value="{{course}}">
          <label for="course">Course</label>
          <div class="bar"></div>
        </div>
        <div class="input-container">
        	<div> {{error_contact}} </div>
          <input id="contact" name="contact" type="tel" value="{{contact}}">
          <label for="contact">contact</label>
          <div class="bar"></div>
        </div>
        <div class="input-container">
        	<div> {{error_college}} </div>
          <select name="college">
    			<option value="jssaten">JSSATEN</option>
    			<option value="others">OTHERS</option>
  		</select>
  		<label for="college">College</label>
          <div class="bar"></div>
        </div>
        <div class="input-container">
        	<div> {{error_year}} </div>
          <select name="year">
    			<option value="1">1</option>
    			<option value="2">2</option>
    			<option value="3">3</option>
    			<option value="4">4</option>
  		</select>
  		<label for="year">Year</label>
          <div class="bar"></div>
        </div>
		<input type="submit">
	</form>
</body>
</html>